/*auka síður*/
body{
	text-align: center;
	background-color: pink;
	margin: auto;
	color: white;
}
form{
	box-sizing: border-box;
	border: solid;
	border: hotpink;
	max-width: 30em;
	justify-content: center;
	margin: auto;
	padding: 4em;
}
h2{color: hotpink}
h3{
	margin : auto;
}
a{
	color:hotpink;
}
a:hover{
	color:deeppink;
}
label{
	color:white;
	font-style: oblique;
}
h2{
	color:hotpink;
	font-style: oblique;
}
p{
	color:white;
	font-style: oblique;
}