body{
	margin:auto;
	text-align: center;
	background-color: pink;
	font-style: oblique;
	max-width: 800px;
}
form{
	box-sizing: border-box;
	border: solid;
	border: hotpink;
	max-width: 30em;
	justify-content: center;
	margin: auto;
	padding: 4em;
}
a{
	color:wheat;
}
a:hover{
	color:hotpink;
}
label{
	color:white;
}
h2{
	color:hotpink;
}
p{
	color:white;
}

li{
	list-style-type: none;
}
img{
	width: 500px;
	height: 300px;

.left{
	float: left;
}