/*sign up*/
body{
	margin:auto;
	text-align: center;
	background-color: cyan;
	background-image:url("../images/bakgrunnur.jpg");
}
form{
	box-sizing: border-box;
	border: solid;
	max-width: 30em;
	justify-content: center;
	margin: auto;
	padding: 4em;
}
a{
	color:wheat;
}
a:hover{
	color:cyan;
}
label{
	color:white;
}
h2{
	color:white;
	font-style: oblique;
}
p{
	color:white;
	font-style: oblique;
}
